@font-face{
    font-family: "Roboto-leve";
    src: url("../fonts/Roboto-Light.ttf");
}
@font-face{
    font-family: "Roboto-regular";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "Roboto-medio";
    src: url("../fonts/Roboto-Medium.ttf");
}
:root{
    --blue-dark: #1B47A1;
    --blue-light: #B2BEDB;
    --blue-ice: #3B5999;
    --blue-cian: #2A81EA;
    --red-dark: #EB5569;
    --red-light: #F5214A;
    --dark: #151C2E;
    --light: #fff;
    --br-xs: 0;
    --br-sm: 576px;
    --br-md: 768px;
    --br-lg: 992px;
    --br-xl: 1200px;
}
.width-100{width: 100%;}.width-75{width:75%;}.width-50{width: 50%;}.width-25{width:25%;}.width-10{width:10%;}.width-5{width: 5%;}
.height-100{width: 100%;}.height-75{width:75%;}.height-50{width: 50%;}.height-25{width:25%;}.height-10{width:10%;}.height-5{width: 5%;}

.btn{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: button;
    padding: 12px;
    border-radius: .25rem;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    user-select: none;
    line-height: 1.5;
    cursor: pointer;
    outline: none;
    border: none;
}
.btn-block{display:block;width:100%;}

.btn-blue{
    background-color: var(--blue-dark);
    font-family: "Roboto-medio",sans-serif;
    transition: all .3s;
    border-radius: 30px;
    color: var(--light);
}
.btn-blue:hover{opacity: 95%;}

.shadow-small {box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;}
.shadow-normal {box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;}
.shadow-large{box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;}
.shadow-none {box-shadow: none !important;}

*{scroll-behavior: smooth;margin:0;padding:0;outline:none;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-moz-box-sizing: border-box;}
body,html{width: 100%;height: 100%;}
html {font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body{background-color: var(--light);}
a{
    color: var(--blue-dark);
    text-decoration: none;
}
ul{
    list-style: none;
}
li{
    display: inline;
}
.sidebar{
    background-color: var(--light);
    padding: 20px;
}
.sidebar .sidebar-nav{
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    display: flex;
}
.sidebar .sidebar-nav a img.sidebar-logo{
    margin-right: auto;
    width: 150px;
}
.sidebar .sidebar-nav .sidebar-list{
    margin-left: auto;
}
.sidebar .sidebar-nav .sidebar-list li.sidebar-item{
    margin-right: 10px;
}
.sidebar .sidebar-nav .sidebar-list li a.active{
    color: var(--dark);
}
.sidebar .sidebar-nav .sidebar-list li a.sidebar-link{
    font-family: "Roboto-normal", sans-serif;
    font-size: 17px;
}
.sidebar .sidebar-nav .sidebar-list li a.btn{
    width: 109px;
}
.state-covid{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    animation: fadeElement .5s ease-in forwards;
    display: flex;
    flex-flow: row nowrap;
}
.card-state{
    border: 1px solid var(--blue-light);
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 5px;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    width: 35%;
}

.card-state h3{font-family: "Roboto-medio",sans-serif;font-size: 36px;margin-bottom: 5px;}
.card-state p{font-family: "Roboto-leve", sans-serif;font-size: 18px;}
.card-state .state-image img{width: 50px;animation: bounceImage 1s ease-in-out infinite;}

.state-content,.state-image{animation: moveFromLeft 1s ease-in-out forwards;}
    
.state-red{border-bottom: 3px solid var(--red-dark);}
.state-red h3{color: var(--red-dark);}

.state-black{border-bottom: 3px solid var(--dark);}
.state-black h3{color: var(--dark);}

.state-blue{border-bottom: 3px solid var(--blue-cian);}
.state-blue h3{color: var(--blue-cian);}

/*CONFIGURAÇÕES DOS CARDS DE NOTÍCIAS*/

.blog-container{
    flex-flow: row nowrap;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    margin-bottom: 21px;
    
}
.blog-card{
    animation: moveFromBottom 1s ease-in-out forwards;
    border: 1px solid var(--blue-light);
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 20px;
    width: 35%;
    padding: 0px;
}
.blog-card .blog-image img{  
    transition: all .3s;
    position: relative;
    height: 232.85px;
    width: 100%;
}
.blog-card .blog-image img:hover{
    filter: brightness(70%);
}
.blog-card .blog-content{
    overflow: hidden;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    top: -40px;
}
.blog-card .blog-image .date{
    font-family: "Roboto-normal",sans-serif;
    background-color: var(--blue-cian);
    justify-content:center;
    color: var(--light);
    align-items: center;
    text-align: center;
    position:relative;
    display:flex;
    height:50px;
    width:100px;
    top:-54px;
}
.blog-card .blog-link{
    justify-content: flex-end;
    display: flex;
}

.blog-card .blog-content h3{font-family: "Roboto-normal",sans-serif;margin-bottom: 15px;}
.blog-card .blog-content p{font-family: "Roboto-leve",sans-serif;margin-bottom: 15px;}
.blog-card .blog-link a{font-family: "Roboto-normal",sans-serif; margin-right: 15px;margin-bottom: 15px;}
.blog-card .blog-link a:hover{text-decoration: underline;}

.more-container{
    animation: moveFromBottom 1s ease-in-out forwards;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
}
.rodape{
    font-family: "Roboto-normal",sans-serif;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: auto;
    font-size: 16px;
    display: flex;
    height: 50px;
    background-color: var(--blue-cian);
    color: var(--light);
}
.rodape a{
    font-family: "Roboto-medio",sans-serif;
    text-decoration: underline;
    color: var(--light);
}
.rodape i{
    color: var(--red-light);
}
/*CONFIGURAÇÃO DA PÁGINA SAIBA MAIS*/
.main-content{
    margin-top: 30px;
    min-height: 606px;
}
.source-container{
    animation: fadeElement .3s ease-in forwards;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
    margin-bottom: -30px;
    padding: 20px;
    display: flex;
}
.source-container h3{
    font-family: "Roboto-leve",sans-serif;
    justify-content: flex-start;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
}
.plus-container{
    animation: fadeElement 1s ease-in-out forwards;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 5px;
    overflow: hidden;
    margin-top: 5px;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    width: 30%;
}
.plus-container .plus-header img{
    animation: moveFromLeft 1s ease-in-out forwards;
    width: 60px;
    margin-right: 20px;
}
.plus-container .plus-content{
    animation: moveFromLeft 1s ease-in-out forwards;
    display: flex;
    flex-flow: column;
    font-family: "Roboto-medio",sans-serif;
}
.plus-container .plus-link{
    animation: moveFromLeft 1s ease-in-out forwards;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/*CONFIGURAÇÕES DO MODAL*/
.modal-container{
    background-color: var(--blue-cian);
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
}
.modal-container .modal-content{
    animation: moveFromLeft 1s ease-in-out forwards;
    background-color: var(--light);
    border-radius: 4px;
    padding: 5px;
    height: 60vh;
    width: 60vw;
    
}

.modal-container .modal-content iframe{
    border: none;
    height: 100%;
    width: 100%;
}
.modal-container .modal-close{
    animation: moveFromLeft 1.5s ease-in forwards;
    border-top-right-radius: 4px;
    background-color: var(--light);
    position: relative;
    padding: 15px;
    top: -205px;
    left: -50px;
}
.modal-container .modal-close a{
    transition: all .3s;
    color: var(--dark);
    font-size: 30px;
}
.modal-container .modal-close a:hover{color:var(--blue-cian);}

#video-atila:target{
    display: flex;
}
#podcast:target{
    display: flex;
}
#maos:target{
    display: flex;
}
#sair:target{
    display: flex;
}
/*CONFIGURAÇÕES DO FORMULÁRIO*/
input, textarea{
    font-family: "Roboto-medio",sans-serif;
    border: 1px solid var(--blue-light);
    background-color: var(--light);
    border-radius: 4px;
    padding: 8px 15px;
    line-height: 1.5;

}
input:focus{
    border: 1.2px solid var(--blue-dark);
    outline: medium;
}
textarea:focus{
    border: 1.2px solid var(--blue-dark);
    outline: medium;
}
.form-container{
    animation: fadeElement .5s ease-in-out forwards;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 39px;
    display: flex;
    margin-bottom: 127px;
}
.form .form__group{
    animation: moveFromLeft .6s ease-in-out forwards;
    flex-flow: column wrap;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    width: 50%;
}
.form .form__group label{
    font-family: "Roboto-normal",sans-serif;
    margin-bottom: 10px;
    font-size: 16px;
}
.form .form__group label span{
    font-family: "Roboto-leve",sans-serif;
    color: var(--red-light);
    font-size: 12px;
}
.form .form__group input.btn{
    font-size: 16px;
    padding: 10px;
}


@keyframes bounceImage{0%,100%{-webkit-transform:translateY(-8px);transform:translateY(-8px)}50%{-webkit-transform:translateY(-4px);transform:translateY(-4px)}}
@keyframes fadeElement{from{opacity: 0;transform: scale(0.9);}to{opacity: 1;transform: scale(1);}}
@keyframes moveFromLeft{from{opacity: 0;transform: translateX(-35%);}to{opacity: 1;transform: translateX(0);}}
@keyframes moveFromRight{from{opacity: 0;transform: translateX(35%);}to{opacity: 1;transform: translateX(0);}}
@keyframes moveFromBottom{from{opacity: 1;transform: translateY(10%);}to{opacity: 1;transform: translateY(0);}}
@keyframes moveFromTop{from{opacity: 1;transform: translateY(-90%);}to{opacity: 1;transform: translateY(0);}}

@media only screen and (max-width: 1024px){
    .modal-container .modal-close{
        top: -157px;
        left: -55px;
    }
}
@media only screen and (max-width: 768px){
    .sidebar .sidebar-nav{
        flex-flow: column wrap;
        justify-content: center;
    }
    .sidebar .sidebar-nav .sidebar-list{
        margin-left: 0;
    }
    .state-covid{
        width: 95%;
    }
    .state-covid{
        flex-flow: column wrap;
        width: 95%;
    }
    .card-state{
        margin-bottom: 10px;
        width: 70%;
    }
    .blog-container{
        margin: 0 auto;
        display: block;
        width: 70%;
    }
    .blog-card{
        width: 100%;
        margin-top: 20px;
    }
    .blog-card .blog-content{
        max-width: none;
    }
    .modal-container .modal-content{
        width: 100%;
        margin-left: 50px;
        height: 70%;
    }
    .modal-container .modal-close{
        top:-189px;
        left:-52px;
    }
    .source-container{
        flex-flow: column wrap;
    }
    .plus-container{
        width: 90%;
    }
    .btn-blue{width: 40%;margin-bottom: 10px;}  
    .form .form__group{
        width: 100%;
    }
    .form .form__group input.btn{
        width: 100%;
    }
}

@media only screen and (max-width: 425px){
    .state-covid{
        flex-flow: column wrap;
        width: 95%;
    }
    .card-state{
        width: 100%;
        margin-bottom: 10px;
    }
    .blog-container{
        width: 95%;
    }
    
}
@media only screen and (max-width: 375px){
    .sidebar .sidebar-nav{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .sidebar .sidebar-nav .sidebar-list{
        margin-top: 20px;
        margin-left: 0;
    }
    .sidebar .sidebar-nav .sidebar-list li:first-of-type{
        margin-left: 50px;
    }
    .sidebar .sidebar-nav .sidebar-list li a.sidebar-link{
        font-size: 20px;
    }

    .sidebar .sidebar-nav .sidebar-list li a.btn{
        margin-top: 20px;
        width: 100%;
    }
}
@media only screen and (max-width: 320px){
    .sidebar .sidebar-nav .sidebar-list li:first-of-type{
        margin-left: 15px;
    }
    .sidebar .sidebar-nav .sidebar-list li a.sidebar-link{
        font-size: 21px;
    }

}
